*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 10px 2%;
    margin: 0 auto;
}
/****************** HEADER ********************/
header{
    width: 100%;
    padding: 25px 1%;
    background-color: #37475F;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .header-name h1{
    font-weight: normal;
    font-size: 22px;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    float: left;
    margin-left: 20px;
}
header nav ul li a{
    text-decoration: none;
}
header nav ul li a:hover{
    color: #96AEDA;
    transition: 0.3s;
}
/****************** SOBRE ********************/

.sobre{
    width: 100%;
    padding: 150px 2%;
    background-image: url("../img/personBackground.jpg");
    box-shadow: inset 0px 7px 0px 0px rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sobre > .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre .container .img-perfil{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    background-image: url("../img/img-perfil-quebra-galho.jpg");
    background-size: contain;
    border-radius: 50%;
}
.sobre .container .text-sobre-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 10px 2%;
    background: rgba(24, 24, 24, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sobre .container .text-sobre-container p{
    margin-top: 15px;
    font-size: 18px;
}
/****************** Competencias ********************/

.header-content{
    display: flex;
    align-items: center;
    background-color: #37475F;
    justify-content: space-around;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 2%;
}
.header-content div{
    width: 20%;
    border-bottom: 1px solid #FFFFFF;
}

.header-content h2{
    text-align: center;
    margin: 0 15px;
    font-weight: normal;
}


.background-competencias{
    width: 100%;
    height: 800px;
    box-shadow: inset 0px 7px 0px 0px rgba(0, 0, 0, 0.25);
    background-image: url('../img/codeBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-competencias .container{
    display: flex;
    align-items: center;
}
.container-duas-competencias{
    margin-top: 20px;
}
.box-arrow-left, .box-arrow-right{
    width: 40px;
    height: 40px;
    margin-bottom: 80px;
}
.box-arrow-left{
    position: relative;
    left: 20px;
}
.box-arrow-right{
    position: relative;
    left: -20px;
}
.box-arrow-left i, .box-arrow-right i{
    cursor: pointer;
    font-size: 50px;
    color: #96AEDA;
    
}
.box-arrow-left i:hover, .box-arrow-right i:hover{
    color: #D2E1FF;
    transition: 0.3s;
}
.box-tres-pontos{
    width: 170px;
    padding: 20px 2%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}
.box-tres-pontos div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.box-tres-pontos .apagado{
    background-color: #C4C4C4;
}

.box-tres-pontos .aceso{
    background-color: #96AEDA;
}

.hidden{
    display: none;
}
.show{
    display: block;
}


.carrossel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
.box-competencia{
    width: 100%;
    max-width: 300px;
    height: 300px;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
    background-color: #D2E1FF;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.box-competencia hr{
    height: 3px;
    margin-top: 5px;
} 
.box-competencia h2, .box-competencia p{
    color: #181818;
}
.box-competencia p{
    margin-top: 15px;
    text-align: initial;
}

/****************** Formação Academica e Certificados ********************/

.formacaoAcademiaCertificados{
    width: 100%;
    background-image: linear-gradient(to bottom right, #5a6883, #a3bcec);
}

.box-formacoes-geral{
    width: 100%;
    padding: 20px 2%;
}
.box-formacao1, .box-formacao2{
    width: 100%;
    display: flex;
}
.ladoEsquerdo, .ladoDireito{
    width: 50%;
    height: 300px;
    display: flex;
    padding: 10px 0;
    align-items: center;

}
.ladoEsquerdo{
    border-right: 2px solid #181818;
    flex-direction: row-reverse;
}
.ladoEsquerdo > p, .ladoDireito > p{
    margin: 5px;
}

.traco{
    width: 40px;
    border: 1px solid #111111;
}
.box-content-formacao{
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    padding: 20px 5%;
    background-color: #37475F;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 5px;
}
.box-content-formacao h2{
    text-align: center;
    font-size: 20px;
}
.box-content-formacao hr{
    margin: 5px 0 10px 0;
}
.box-content-formacao p{
    margin-bottom: 10px;
}

/****************** Experiencia ********************/
.experiencia{
    width: 100%;
    padding: 0 0 100px 0;
    background-image: linear-gradient(to bottom right, #5a6883, #a3bcec);
}

.content-experiencia{
    width: 100%;
    background-color: #37475F;
    padding: 20px 2%;
    margin-top: 100px;
}
.box-text-experiencia p{
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 18px;
    text-align: justify;
}
